.hc-bg-custom {
  box-shadow: 0px 0px 12px #ff8500;
}
.nav-link {
  color: #000000a6;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff8500 !important;
}
.active-nav-link .shared-icon{
  color: #ff8500 !important;
}
.shared-icon:active{
  color: #fff !important;
}

.navbar-nav .nav-link:hover .nav-icon{
  color: #ff8500 !important;
}
.navbar-nav .nav-link:active {
  color: #ff8500;
}
.navbar-nav .nav-link:active .nav-icon {
  color: #ff8500 !important;
}
.navbar-nav .nav-link.active {
  color: #ff8500 !important;
}
.hc-nav-link {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.hc-brand-name {
  font-family: "Bungee Spice", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}
/* In your Header.css file */
.brand-content {
  display: flex;
  align-items: center;
}

.brand-content img {
  margin-right: 10px;
}

.brand-content div {
  display: flex;
  flex-direction: column;
}
.nav-icon {
  color: #000000a6;
  transition: color 0.3s;
  margin: 0px 5px 0px auto;
}
.home-icon {
  margin: 0px 5px 8px auto;
}
.nav-icon:hover {
  color: #ff8500;
}
.nav-icon:active {
  color: #ff8500 !important;
}
@media screen and (max-width:768px) {
  .hanuman-logo{
    width: 50px;
    height: 50px;
  }
  .hanuman-brand-text{
    font-size: 18px;
  }

  .hc-nav-link {
    gap: 10px;
  }
}